@using AirBench.Security

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @if (IsSectionDefined("Stylesheets"))
    {
        @RenderSection("Stylesheets")
    }
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Benchiest Benches", "Index", "Bench", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
                <div class="navbar-right">
                    @if (Request.IsAuthenticated)
                    {
                        Html.BeginForm("Logout", "Account");
                        <span class="navbar-text">Welcome @(((CustomPrincipal)User).Name)</span>
                        <input type="submit" value="Logout" class="btn btn-warning"/>
                        Html.EndForm();
                    }
                    else
                    {
                        @Html.ActionLink("Login", "Login", "Account",
                            routeValues: new { },
                            htmlAttributes: new { @class = "btn btn-primary" })
                        @Html.ActionLink("Register", "Register", "Account",
                            routeValues: new { },
                            htmlAttributes: new { @class = "btn btn-success" })
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Benchiest Benches</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")
    }
</body>
</html>