@model AirBench.Models.ViewModels.AccountLoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <fieldset class="form-group">
        @Html.LabelFor(model => model.Username)
        @Html.TextBoxFor(model => model.Username)
    </fieldset>
    <fieldset class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password)
    </fieldset>
    <div>
        <input type="submit" value="Log in" class="btn btn-primary" />
    </div>

    <p>Don't have an account? @Html.ActionLink("Register", "Register")</p>
}
