@model AirBench.Models.Bench
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table>
    <thead>
    </thead>
    <tbody>
        <tr>
            <td>@Html.LabelFor(m => m.Description)</td>
            <td>@Html.DisplayFor(m => m.Description)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Latitude)</td>
            <td>@Html.DisplayFor(m => m.Latitude)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Longitude)</td>
            <td>@Html.DisplayFor(m => m.Longitude)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.NumberSeats)</td>
            <td>@Html.DisplayFor(m => m.NumberSeats)</td>
        </tr>
    </tbody>
</table>

<h3>Reviews</h3>
<p>Average rating: @Model.AverageRating</p>
<div>@Html.ActionLink("Add Review", "Review", routeValues: new { id = Model.Id })</div>
<table>
    <thead>
        <tr>
            <th>Review</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model.Reviews)
        {
            <tr>
                <td>@review.Description</td>
                <td>@review.Rating</td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Home", "Index")